@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i&subset=cyrillic');
@font-main: 'Roboto', sans-serif;

@import url(buttons.less);
@import url(slick.less);
@import url(my-slick.less);
@import url(setting.css);
@import url(grid.less);

// Размеры
@container-max-width: 1100px;
@main-menu-height: 65px;
@screen-size-lg: 1000px;
@screen-size-md: 768px;
@screen-size-sm: 480px;
@header-min-height: 135px;

// Цвета
@color-footer-copyrights: #7aabe8;
@color-gray-bg: #f2f2f2;
@color-gray-text: #bdbdbd;
@color-img-bg: #c1d3f7;
@color-link: #06c;
@color-main-dark: #002553;
@color-main-second: #ffdd02;
@color-main: #003474;
@color-gray-border: #e8e8e8;
@color-text: #333;

// Цвет кнопок
@color-button-bg: @color-main-second;
@color-button-border: @color-main-second;
@color-button-caption: @color-main-second;

// Настройки slick
@slick-dot-color: @color-main-second;
@slick-dot-color-hover: lighten(@color-main-second, 30);
@slick-dot-border-radius: 50%;
@slick-dot-size: 15px;

html{
  margin-top: 0 !important;
}

body
{
  font-family: @font-main;
  font-weight: 100;
  // background: url('../images/maket/maket.jpg') top center no-repeat;
  // background: url('../images/maket/maket-catalog.jpg') top center no-repeat;
  // background: url('../images/maket/maket-catalog-tovar.jpg') top center no-repeat;
  // opacity: 0.5;
  // position: relative;
  // min-width: 1200px;
}

a
{
  cursor: pointer;
  text-decoration: none;

  color: @color-link;
}

li
{
  list-style: none;
}

h1{
  font-weight: 100;
  color: #000;
}

h2
{
  font-size: 24px;
  font-weight: 100;

  color: #000;
}

input
{
  outline: none;
}

select,
input[type=submit]
{
  cursor: pointer;
}

.clearfix::after
{
  display: table;
  clear: both;

  content: '';
}

.container
{
  margin-right: auto;
  margin-left: auto;
  // padding-right: 15px;
  // padding-left: 15px;
  @media only screen and (min-width: @screen-size-lg)
  {
    max-width: @container-max-width;
  }
  @media (max-width: @screen-size-md) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

header
{
  background: @color-main;
}

.header
{
  &__middle
  {
    display: flex;

    padding-right: 15px;
    padding-left: 15px;

    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media only screen and (min-width: @screen-size-md)
    {
      flex-direction: row;

      padding: 0;
    }
  }
  &__logo
  {
    width: 192px;
    height: 80px;
    margin: 25px 0;

    background: url('../images/logo.png') center center no-repeat;
    background-size: contain;
    @media (max-width: @screen-size-md)
    {
      order: 0;
      width: 100px;
    }
  }
  &__caption
  {
    font-size: 18px;
    font-weight: 100;
    line-height: 24px;

    margin: 20px 0 15px -15px;

    text-align: center;
    width: 350px;

    color: #fff;
    @media (max-width: @screen-size-md)
    {
      margin: 0 auto 25px;

      order: 2;
    }
  }
  &__contacts
  {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 190px;
    margin: 20px 0;

    text-align: right;

    color: #fff;

    align-items: flex-end;
    @media (max-width: @screen-size-md)
    {
      order: 1;
    }
  }
  &__phone
  {
    font-size: 24px;
    font-weight: 500;
  }
  &__callback
  {
    font-size: 15px;
    font-weight: 100;

    display: inline-table;

    text-align: right;
    text-decoration: none;

    color: @color-main-second;
    border-bottom: 1px dashed @color-main-second;
  }
  &__change_lang
  {
    font-size: 14px;
    font-weight: 100;

    position: absolute;
    top: -32px;

    padding-right: 8px;

    color: #fff;
    border: 0;
    outline: none;
    background: transparent;
    background: url('../images/icons/icon-dropdown-white.png') no-repeat right;
    background-size: 7px;

    appearance: none;
    option
    {
      color: #000;
    }
  }
}

.main-nav
{
  background: @color-main-dark;
  &__wrapper
  {
    display: flex;
    overflow: visible;

    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    @media (max-width: @screen-size-md) {
      flex-direction: column-reverse;
      width: 100%;
    }
  }
  &__list
  {
    position: relative;

    display: flex;

    margin: 0;
    padding: 0;
    // Скрываем лист на мобильных
    @media (max-width: @screen-size-md) {
      display: none;
      flex-direction: column;
      width: 100%;
    }
  }
  // Кнопка меню для мобильных
  &__mobile{
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    padding: 23px 20px;
    color: #fff;
    display: none;
    @media (max-width: @screen-size-md) {
      display: block;
    }
  }
  &__item
  {
    position: relative;

    padding: 23px 20px;

    list-style: none;

    cursor: pointer;
    a
    {
      font-size: 16px;
      font-weight: 100;

      color: #fff;
    }
    &:hover
    {
      background: @color-main-second;
      & > a
      {
        color: @color-main-dark;
      }
    }
  }
}

// Для WP 
.menu{
  &-item{
    position: relative;

    padding: 23px 20px;

    list-style: none;

    cursor: pointer;
    a
    {
      font-size: 16px;
      font-weight: 100;

      color: #fff;
    }
  }
}

.sub-menu
{
  margin-left: 0;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;

  display: none;

  width: max-content;
  padding: 10px 20px;

  background: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,.25);
  li
  {
    padding: 10px 20px;

    list-style: none;

    background: url('../images/icons/icon-menu-item.png') left center no-repeat;
    background-size: 7px;
    &:first-child
    {
      margin-top: 0;
    }
    &:last-child
    {
      margin-bottom: 0;
    }
    a
    {
      font-size: 16px;

      text-decoration: underline;

      color: @color-link;
    }
    &:hover
    {
      background-color: transparent;
      & > a
      {
        color: @color-main;
      }
    }
  }
  @media (max-width: @screen-size-md) {
    position: relative;
    left: -20px;
    width: 100%;
    box-shadow: none;
    margin: 20px 0 -20px;
  }
}

// Строка поиска
.searchform
{
  position: relative;

  display: flex;

  margin: 10px 0;

  flex-wrap: nowrap;
  &__button
  {
    position: absolute;
    right: 0;

    width: 40px;
    height: 40px;

    border: 0;
    background: url('../images/icons/icon-search.png') center center no-repeat;
    background-color: transparent !important;
    background-size: 20px;
    color: transparent;
  }
}

input[type=search]
{
  width: 305px;
  padding: 10px 10px;

  border: 0;
  border-radius: 3px;
  &::-webkit-input-placeholder
  {
    font-size: 15px;

    color: @color-main-dark;
  }
}

// Футер
.footer
{
  padding-top: 40px;

  background: url('../images/element.png') right 20px no-repeat, @color-main;
  background-size: contain;
  &-main
  {
    display: flex;

    margin-top: 10px;
    margin-bottom: 45px;

    flex-wrap: wrap;
    justify-content: space-between;
    &__requezits
    {
      display: flex;
      flex-direction: column;

      margin-right: 90px;
      .company-name
      {
        font-size: 20px;
        font-weight: 500;

        color: #fff;
      }
      .company-subname
      {
        font-size: 14px;
        font-weight: 100;

        margin-top: 5px;

        letter-spacing: .4px;

        color: #fff;
      }
      .requezits
      {
        font-size: 16px;
        font-weight: 100;
        line-height: 1.6;

        margin-top: 30px;

        letter-spacing: -.7px;

        color: #9ec5df;
      }
    }
  }
  &_column
  {
    &__title
    {
      font-size: 14px;
      font-weight: 500;

      margin-bottom: 15px;

      color: #fff;
    }
    &__header
    {
      font-size: 15px;
      font-weight: 100;

      display: block;

      margin-bottom: 7px;

      text-transform: uppercase;

      color: #fff;
    }
    &__items
    {
      display: flex;
      flex-direction: column;
    }
    &__item
    {
      &-text
      {
        font-size: 15px;
        font-weight: 100;

        display: block;

        margin-bottom: 17px;

        color: #fff;
      }
      &-link
      {
        font-size: 15px;
        font-weight: 100;

        display: block;

        margin-bottom: 17px;

        text-decoration: underline;

        color: #fff;
        &:hover
        {
          text-decoration: none;

          color: @color-main-second;
        }
      }
      &-phone
      {
        font-size: 24px;
        font-weight: 500;

        margin-top: -7px;

        text-decoration: none;

        color: #fff;
      }
      &-callback
      {
        font-size: 15px;
        font-weight: 100;

        display: inline-table;

        margin-top: 5px;

        text-align: right;
        text-decoration: none;

        color: #fff;
        border-bottom: 1px dashed #fff;
      }
      &-logo
      {
        width: 190px;
        margin-top: -20px;
      }
    }
  }
  &__row
  {
    margin-bottom: 40px;
  }
  &-copyright
  {
    font-size: 14px;
    font-weight: 300;

    width: 100%;

    color: @color-footer-copyrights;
    background: @color-main-dark;
    &__items
    {
      display: flex;

      justify-content: space-between;
      span
      {
        margin-top: 15px;
        margin-bottom: 15px;
      }
    }
    a
    {
      text-decoration: none;

      color: @color-footer-copyrights;
    }
  }
}

.ta
{
  &-l
  {
    text-align: left;
  }
  &-c
  {
    text-align: center;
  }
  &-r
  {
    text-align: right;
  }
}

.center
{
  justify-content: center;
}

.between
{
  justify-content: space-between;
}

.center-center
{
  display: flex;

  justify-content: center;
  align-items: center;
}

.right
{
  display: flex;

  align-items: flex-end;
}

.sidebar
{
  &__left
  {
    width: 30%;
    margin-bottom: 65px;

    .border();
    @media (max-width: @screen-size-sm)
    {
      width: 100%;
    }
  }
  &__right
  {
    width: 70%;
    margin-bottom: 65px;

    .border();
    @media (max-width: @screen-size-sm)
    {
      width: 100%;
    }
  }
}

// Баннеры
.banner
{
  &__item
  {
    height: 410px;

    background: url('../images/banner_1.png') center center no-repeat;
    background-size: cover;
    margin-top: -5px;
    & > .container
    {
      height: 100%;
    }
  }
  &__header
  {
    font-size: 34px;
    font-weight: 100;
    line-height: 50px;

    width: 50%;
    margin-top: -50px;

    color: #fff;
  }
  &__body
  {
    display: flex;
    flex-direction: column;

    height: 100%;

    justify-content: center;
    align-items: flex-start;
    @media (max-width: @screen-size-md) {
      margin: 20px;
    }
  }
  &__button
  {
    margin-top: 30px;
  }
}

.inner_menu
{
  display: flex;

  margin-top: 35px;

  justify-content: space-between;
  flex-wrap: wrap;
  &_item
  {
    display: flex;
    flex-direction: row;

    margin: 20px 0;

    align-items: center;
    &:hover
    {
      .inner_menu_item__icon
      {
        background: @color-main-second;
      }
      .inner_menu_item__header
      {
        text-decoration: none;

        color: #000;
      }
    }
    &__icon
    {
      width: 45px;
      height: 45px;
      margin-right: 15px;
      padding: 15px;

      text-align: center;

      background: @color-gray-bg;
      &:hover
      {
        background: @color-main-second;
      }
      img
      {
        width: auto;
        height: 40px;
      }
    }
    &__header
    {
      font-size: 16px;

      color: #000;
    }
  }
}

section
{
  h2
  {
    font-size: 34px;
    font-weight: 100;
    line-height: 50px;

    margin-top: 45px;

    text-align: center;
    @media (max-width: @screen-size-md) {
      text-align: left;
      font-size: 22px;
    line-height: normal;
    }
  }
}

.production
{
  margin-top: 50px;
  margin-bottom: 65px;
  &__img
  {
    display: flex;

    height: 170px;
    padding: 10px;

    background: @color-img-bg;

    justify-content: center;
    align-items: center;
    img
    {
      height: 100%;
    }
  }
  &__title
  {
    font-size: 16px;
    font-weight: 100;
    line-height: 26px;

    margin-top: 25px;

    text-decoration: underline;

    color: @color-link;
  }
  &__button
  {
    margin-top: 45px;
  }
}

.content
{
  margin-top: 45px;
  &__img
  {
    max-width: 510px;
    padding-left: 15px;
    img
    {
      width: 95%;
    }
  }
  &__text
  {
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;

    p:first-child
    {
      margin-top: 0;
    }
    a
    {
      text-decoration: underline;

      color: @color-link;
    }
  }
}

.numbers
{
  margin: 55px 0;

  white-space: nowrap;

  background: @color-main;
  &__item
  {
    display: flex;
    flex-direction: column;

    margin: 30px 0;

    align-items: center;
  }
  &__num
  {
    font-size: 60px;
    font-weight: 900;

    color: @color-main-second;
  }
  &__caption
  {
    font-size: 16px;
    font-weight: 100;

    color: #fff;
  }
}

.categories
{
  .content__text
  {
    line-height: 24px;

    margin-top: -18px;
    padding: 0 100px;
    @media (max-width: @screen-size-md) {
      padding: 0;
      text-align: left;
    }
  }
  &__items
  {
    margin-top: 65px;
  }
  &__img
  {
    width: 120px;
    margin-right: 30px;
    img
    {
      width: 100%;
    }
  }
  &__title
  {
    font-size: 20px;
    font-weight: 100;

    margin-bottom: 20px;

    text-decoration: underline;

    color: @color-link;
  }
  &__caption
  {
    font-size: 16px;
    font-weight: 100;

    color: #000;
  }
  &__row
  {
    display: flex;
    flex-direction: row;

    margin-bottom: 55px;
    padding: 0 15px;

    flex-wrap: nowrap;
  }
}

// Новости
.news
{
  margin-top: 35px;
  margin-bottom: 75px;
  &__item
  {
    width: 300px;
    margin-bottom: 30px;
  }
  &__img
  {
    width: 100%;
    img
    {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__date
  {
    font-size: 14px;
    font-weight: 100;

    margin-top: 10px;

    color: @color-gray-text;
  }
  &__title
  {
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

    text-decoration: underline;

    color: @color-link;
  }
  &__description
  {
    font-size: 16px;
    font-weight: 100;

    color: #000;
  }
}

.partners
{
  margin-bottom: 35px;
  .slick-dots
  {
    margin-top: 30px;
  }
  &__item
  {
    height: 80px;
    margin: 0;
    padding: 10px;

    background: @color-gray-bg;
    img
    {
      max-width: 100%;
      max-height: 100%;
      margin: 10px;
    }
  }
}

.catalog_products
{
  margin-top: 40px;
  &__item
  {
    margin: 0;
    margin-bottom: 40px;
  }
  &__img
  {
    width: 190px;
    height: 190px;
    margin-right: 25px;
    padding: 10px;

    border: 1px solid @color-gray-border;

    .center-center();
    img
    {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &__title
  {
    line-height: 20px;

    text-decoration: underline;

    color: @color-link;
  }
  &__description
  {
    line-height: 24px;

    margin-top: 10px;

    color: #000;
  }
  // Список категорий в сайдбаре
  &__list
  {
    display: flex;
    flex-direction: column;
    a
      {
        font-size: 16px;
        line-height: 52px;

        text-decoration: underline;
        &:hover,
    &-active{

    font-size: 16px;
    font-weight: 900;
    text-decoration: none;

    color: @color-main;
    }
      }

  }
  &__link
  {
    font-size: 16px;
    line-height: 52px;

    text-decoration: underline;
    &:hover,
    &-active{

    font-size: 16px;
    font-weight: 900;

    margin-top: 5px;
    margin-bottom: 20px;

    color: @color-main;
    }
  }
  // Страница товара
  &_card
  {
    margin-top: 45px;
    padding-right: 15px;
    padding-left: 15px;
    &__img
    {
      width: 410px;
      height: 410px;
      margin-right: 20px;
      padding: 10px;

      border: 1px solid @color-gray-border;

      .center-center();
      img
      {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__title
    {
      font-size: 24px;
      font-weight: 100;
      line-height: 35px;

      margin-top: -10px;
      margin-bottom: 17px;

      color: #000;
    }
    &__description
    {
      font-size: 16px;
      font-weight: 100;
      line-height: 32px;

      color: @color-text;
    }
    &__button
    {
      margin-top: 20px;
      padding: 20px 26px;
    }
    &__characteristics
    {
      font-size: 16px;
      font-weight: 100;
      line-height: 32px;

      box-sizing: border-box;
      width: 60%;
      margin-top: 25px;
      margin-right: 25px;
      padding-left: 15px;
      h3
      {
        font-size: 22px;
        font-weight: 100;

        color: @color-text;
      }
    }
    &__cheme
    {
      padding: 0 45px;
      img
      {
        max-width: 100%;
        max-height: 100%;
      }
    }
    &__button
    {
      &-yellow
      {
        font-size: 20px;
        font-weight: 400;

        margin-left: 20px;
        padding: 15px 25px;

        color: @color-main;
        border: 2px solid @color-main;
      }
      &-blue
      {
        font-size: 20px;
        font-weight: 400;

        margin-left: 20px;
        padding: 15px 25px;

        color: @color-main;
        border: 2px solid @color-main;
      }
    }
  }
}

.breadcrumbs
{
  margin: 32px 0 30px;

  text-decoration: underline;
}
